
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <canvas id="dis" width="400" height="400"></canvas>
        </div>
        <div class="col-md-4">
            <canvas id="mat" width="400" height="400"></canvas>
        </div>
        <div class="col-md-4">
            <canvas id="dismat" width="400" height="400"></canvas>
        </div>
        <div class="col-md-4">
            <h2>DIS</h2>
            <p>Cupcake ipsum dolor sit amet toffee. Gingerbread liquorice donut jelly biscuit. Oat cake gummies ice cream. Pastry I love candy canes candy canes I love jelly beans wafer. Fruitcake caramels macaroon carrot cake. Pastry pudding cake. Carrot cake chupa chups biscuit powder sugar plum brownie sweet topping. Pastry toffee cheesecake jelly beans gingerbread. Donut gingerbread I love apple pie biscuit chocolate liquorice bear claw I love. I love I love icing I love donut chupa chups gummies. Jelly-o toffee chocolate cake candy canes cotton candy souffle jujubes. Cake apple pie marzipan chocolate jelly I love jelly-o sesame snaps sweet. Jelly beans topping jujubes danish cupcake pudding chupa chups. Biscuit I love jujubes pudding icing.</p>
            <p><a class="btn btn-default" href="#" role="button">View details</a></p>
        </div>
        <div class="col-md-4">
            <h2>MAT</h2>
            <p>Pudding I love dessert drage cake gummi bears. Caramels gingerbread candy canes macaroon chupa chups chocolate cake I love powder danish. Muffin biscuit cheesecake dessert candy canes drage. Marshmallow I love candy canes pastry cake. Candy jelly-o brownie gummi bears I love muffin. Lollipop jelly beans wafer cheesecake. Marshmallow pudding croissant topping dessert bonbon. Chocolate cake halvah I love I love wafer bear claw oat cake lemon drops. Bear claw muffin I love bonbon cotton candy. Bear claw bonbon lollipop. Croissant biscuit topping. I love oat cake cake I love gummies. Fruitcake tart candy canes. I love donut halvah I love jujubes cheesecake chocolate bar.</p>
            <p><a class="btn btn-default" href="#" role="button">View details</a></p>
        </div>
        <div class="col-md-4">
            <h2>DIS vs MAT</h2>
            <p>Wafer donut pie chupa chups I love pudding marzipan liquorice. Brownie lemon drops jelly beans cupcake dessert. Cupcake jelly lollipop biscuit apple pie. Topping I love lollipop carrot cake sugar plum tiramisu. Tootsie roll bear claw halvah danish jujubes gummi bears cheesecake candy canes tootsie roll. </p>
            <p><a class="btn btn-default" href="#" role="button">View details</a></p>
        </div>
    </div>
</div>


