<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Leaderboard</h1>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder" ng-repeat="user in users">
                    <img src="{{user.image}}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                    <h4>{{user.username}}</h4>
                    <span class="text-muted">{{user.email}}</span>
                </div>
            </div>

            <h2 class="sub-header">Ranking</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="players in topPlayers">
                            <td>{{players.rank}}</td>
                            <td>{{players.username}}</td>
                            <td>{{players.email}}</td>
                            <td>{{players.points}}</td>
                        </tr>                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>