<div class="content">
	<div class="main-background">
		<div class="row">
			<div class="col-xs-6 col-md-6">
				<h1>Welcome to StocKids</h1>
				<p>StocKids is a site that encourages children to learn about
					how stocks work by allowing them to play in a simulated stock
					market.</p>
			</div>
			<div class="container">
				<div class="card card-container">
					<img id="profile-img" class="profile-img-card"
						src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
					<form name="loginForm" class="form-signin" ng-submit="login.login()" role="form">
						<span id="reauth-email" class="reauth-email"></span> 
						<input type="email" class="form-control"
							placeholder="Email address" required autofocus ng-model="email">
						<input type="password" class="form-control"
							placeholder="Password" ng-model="password" required>
						<div id="remember" class="checkbox" ng-model>
							<label> 
								<input type="checkbox" value="remember-me">
								Remember Me
							</label>
						</div>
						<button class="btn btn-lg btn-primary btn-block btn-signin"
							type="button" ng-click="submit(loginForm)">Sign in</button>
					</form>
					<!-- /form -->
					<a href="#" class="forgot-password"> Forgot the password? </a>
				</div>
				<!-- /card-container -->
			</div>
			<!-- /container -->
		</div>
	</div>
</div>